body {
    background-image: url("../assets/images/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.heading {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1em;
    width: 100%;
}